.header ul li a:hover {
  color: #469B44;
}
.header .contacts a:hover {
  color: #469b44;
}
.header .contacts button {
  background: #469b44;
}
.index-first-block form .flex .prices .ui-widget-header {
  background: #469b44;
}
.index-first-block form .flex .prices .ui-state-default,
.index-first-block form .flex .prices .ui-widget-content .ui-state-default,
.index-first-block form .flex .prices .ui-widget-header .ui-state-default,
.index-first-block form .flex .prices .ui-button,
.index-first-block form .flex .prices html .ui-button.ui-state-disabled:hover,
.index-first-block form .flex .prices html .ui-button.ui-state-disabled:active {
  border: 5px solid #469b44;
}
.index-first-block form .flex button {
  background: #469b44;
}
.brands-block .bottom-button button {
  color: #469b44;
}
.brands-block .bottom-button button span {
  background: url('img/arrow2.svg');
}
.catalog-block .item .name:hover {
  color: #469b44;
}
.catalog-block .item .buttons button:nth-child(1) {
  background: #469b44;
}
.catalog-block .item .buttons button:nth-child(2) {
  color: #469b44;
  background: rgba(70, 155, 68, 0.39);
}
.catalog-block .bottom-button button {
  color: #469b44;
}
.catalog-block .bottom-button button span {
  background: url('img/arrow2.svg');
}
.catalog-block .pages a:hover {
  color: #469b44;
}
.compilations-block .item button {
  color: #469b44;
}
.services-block .item button {
  color: #469b44;
}
.services-block .item button:hover {
  background: #469b44;
}
.feedback-block form button {
  background: #469b44;
}
.map-block .content .contacts a {
  color: #469b44;
}
.footer .left-block .phone:hover {
  color: #469b44;
}
.footer .left-block button {
  background: #469b44;
}
.footer nav ul li a:hover {
  color: #469b44;
}
.navi a:hover {
  color: #469b44;
}
.index-first-block form .bottom-link {
  color: #469b44;
  background: url('img/arrow5.svg') no-repeat right;
}
.item-page .buttons button:nth-child(1) {
  background: #469b44;
}
.item-page .buttons button:nth-child(2) {
  color: #469b44;
  background: rgba(70, 155, 68, 0.39);
}
.item-page .counts .item .line span {
  background: #469b44;
}
.item-page .calc .item .ui-widget-content {
  background: #469b44;
}
.item-page .calc .item .ui-state-default,
.item-page .calc .item .ui-widget-content .ui-state-default,
.item-page .calc .item .ui-widget-header .ui-state-default,
.item-page .calc .item .ui-button,
.item-page .calc .item html .ui-button.ui-state-disabled:hover,
.item-page .calc .item html .ui-button.ui-state-disabled:active {
  border: 2px solid #469b44;
}
.item-page .calc button {
  background: #469b44;
}
.catalog-block .slick-dots li.slick-active button {
  background: #469b44;
}
.compilations-block .slick-dots li.slick-active button {
  background: #469b44;
}
.services-block .slick-dots li.slick-active button {
  background: #469b44;
}
.item-page .photos .slick-dots li.slick-active button {
  background: #469b44;
}
.calc-page .block1 .price .new {
  color: #469b44;
}
.calc-page .block2 .ui-widget-header {
  background: #469b44;
}
.calc-page .block2 .ui-state-default,
.calc-page .block2 .ui-widget-content .ui-state-default,
.calc-page .block2 .ui-widget-header .ui-state-default,
.calc-page .block2 .ui-button,
.calc-page .block2 html .ui-button.ui-state-disabled:hover,
.calc-page .block2 html .ui-button.ui-state-disabled:active {
  border: 5px solid #469b44;
}
.calc-page .block3 table tr td:last-child {
  color: #469b44;
}
.calc-page .bottom-button button {
  background: #469b44;
}
.articles-block .list .item button {
  background: #469b44;
}
.articles-block .slick-dots li.slick-active button {
  background: #469b44;
}
.text-block blockquote {
  border-left: 2px solid #469b44;
}
.contacts-page a {
  color: #469b44;
}
.actions-page .item button {
  background: #469b44;
}
.services-page .item button {
  color: #469b44;
}
.services-page .item button:hover {
  background: #469b44;
}
.service-page .docs .doc .number {
  color: #469b44;
}
.left-listCall {
  background: #469b44;
}


/* ++++++++++++++ */
.irs--round .irs-bar {
  top: 36px;
  height: 4px;
  background-color: #469b44;
}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #469b44;
  color: white;
  border-radius: 4px;
}

.irs--round .irs-handle {
  top: 30px;
  width: 16px;
  height: 16px;
  border: 4px solid #469b44;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #469b44;
}

.advantages-block .item .icon img {
  filter: invert(50%) sepia(52%) saturate(2700%) hue-rotate(118deg) brightness(92%) contrast(81%);
}
.map-block .content .contacts ul li span img {
  filter: invert(50%) sepia(52%) saturate(2700%) hue-rotate(118deg) brightness(92%) contrast(81%);
}
.modal-titles .city {
  color: #469b44;
}
.modal-content .modal-titles p {
  color: #6D6D6D;
  font-size: 24px;
  margin-top: 10px;
  line-height: 24px;
}
.modal-body p a{
  color: #469b44;
}
.modal-header .close{
  padding: 1rem 1rem 0rem 1rem;
  margin: -1rem -1rem -1rem auto;
  color: #469b44;
}