<form class="extrafilter">
<div class="flex">   
        {{ data['wrap'] | raw }}<button class="filterbutton">Показать результаты</button></div>
                    
	<div class="links col-12 mt-2">
		<a href="location.href='/avtomobili-s-probegom31?f[19]=200000:800000">До 800 000 ₽</a>
		<a href="location.href='/avtomobili-s-probegom31?f[19]=200000:850000">До 850 000 ₽</a>
		<a href="location.href='/avtomobili-s-probegom31?f[19]=200000:950000">До 950 000 ₽</a>
		<a href="location.href='/avtomobili-s-probegom31?f[19]=200000:1500000">До 1 500 000 ₽</a>
		<a href="location.href='/avtomobili-s-probegom31?f[19]=200000:2500000">До 2 500 000 ₽</a>
	</div>
</div></form>