<main class="service-page">
		<div class="container-fluid">
			<h1>Trade-in</h1>
			<div class="row">
				<div class="col-xl-6">
					<div class="item">
						<div class="text">
							<h2>Юридическая чистота</h2>
							Гарантируем юридическую чистоту сделки
						</div>
						<div class="image">
							<img src="img/service-image1.png">
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="item">
						<div class="text">
							<h2>Бесплатная диагностика</h2>
							Независимая техническая диагностика автомобиля
						</div>
						<div class="image">
							<img src="img/service-image2.png">
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="item">
						<div class="text">
							<h2>Деньги сразу наличными или на карту</h2>
							Мы выплатим всю сумму наличными или переводом на банковскую карту
						</div>
						<div class="image">
							<img src="img/service-image3.png">
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="item">
						<div class="text">
							<h2>Полное оформление документов</h2>
							Бесплатно оформим все документы для автовыкупа автомобиля
						</div>
						<div class="image">
							<img src="img/service-image4.png">
						</div>
					</div>
				</div>
			</div>
			<div class="docs">
				<h2>Документы для выкупа автомобиля</h2>
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="doc">
							<div class="number">1</div>
							Паспорт транспортного стредства (ПТС)
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="doc">
							<div class="number">2</div>
							Паспорт собственника транспортного средства
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="doc">
							<div class="number">3</div>
							Свидетельство о регистрации транспортного средства (СТС)
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="doc">
							<div class="number">4</div>
							Нотариальная доверенность на транспортное средство и паспорт продавца
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-text">
				<h2>Какие автомобили мы выкупаем</h2>
				<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
			</div>
		</div>
	</main>